.button-validate {
  color: rgb(37, 87, 25);
  background-color: white;
  border-radius: 5px;
}
.button-validate:hover {
  background-color: rgb(80, 175, 56);
  border: 2px transparent solid;
  color: white;
  cursor: pointer;
}
.button-warning {
  color: rgb(159, 39, 39);
  border-radius: 5px;
}
.button-warning:hover {
  color: white;
  background-color: rgb(159, 39, 39);
  border: 2px transparent solid;
  cursor: pointer;
}

button {
  border-color: #67676782;
}

h1 {
  text-align: center;
  margin-bottom: 1.7em;
}

.container-tasks {
  display: flex;
  align-items: center;
  margin: 0 0 3em 1em;
  height: 1em;
}
.container-today-task {
  margin-left: 1em;
}

.container-today-task > span {
  font-size: 1.2em;
}

#createTask {
  padding: 0.5em 1em;
  font-size: 1em;
}

#today-task-counter {
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(223 172 3);
}

form {
  height: 50vh;
  width: 18em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#task-date {
  width: 50%;
  margin-bottom: 0.7em;
}

#task-name {
  margin-bottom: 1em;
  width: 100%;
}

#task-description {
  margin-bottom: 1em;
  height: 20em;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.task-container-button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td {
  word-wrap: break-word;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

td > button {
  margin-right: 0.5em;
}

.notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px;
  background-color: rgb(223 172 3);
  color: white;
  text-align: center;
  z-index: 1000;
  transition: top 0.3s;
}

.notification.hidden {
  top: -60px;
}

.notification.show {
  top: 0;
}

.today {
  color: rgb(223 172 3);
  text-shadow: 0 0px 1px #000000;
}

.loader {
  border: 10px solid rgba(169, 169, 169, 0.8);
  border-top: 10px solid rgb(223 172 3);
  box-shadow: 0 0 10px rgb(127, 127, 127);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.loader-overlay {
  background-color: rgba(255, 255, 255, 0.915);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 9998;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
